In [25]:
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt
import gensim.downloader as api
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from gensim import models 
from gensim.models import KeyedVectors, Word2Vec
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_url = ("/Users/vidyakumar/Desktop/python/apziva/potential-talents - Aspiring human resources - seeking human resources.csv")
pd.set_option('display.max_colwidth', None)
get_ipython().run_line_magic('matplotlib', 'inline')

In [3]:
def load_data():
    data = pd.read_csv(data_url)
    return data

data = load_data()

data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [4]:
# If it's the same job description in the same city, for the same job title, we consider it duplicate.
print(data.shape)
df_nodups = data.drop_duplicates(subset=['job_title', 'location'])
print(df_nodups.shape)

(104, 5)
(54, 5)

In [5]:
df_nodups.isnull().sum()

id             0
job_title      0
location       0
connection     0
fit           54
dtype: int64

In [6]:
df_nodups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54 non-null     int64
 1   job_title   54 non-null     object
 2   location    54 non-null     object
 3   connection  54 non-null     object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.5+ KB

In [7]:
#replace acronymns
df_nodups['job_title'] = df_nodups['job_title'].str.replace("HRIS", " Human Resources Information System ")
df_nodups['job_title'] = df_nodups['job_title'].str.replace("HR", " Human Resources ")
df_nodups['job_title'] = df_nodups['job_title'].str.replace("EPIK", " English Program in Korea ")
df_nodups['job_title'] = df_nodups['job_title'].str.replace("JTI", " Japan Tobacco International ")

#removing stopwords and making it all lowercase
stop_words = set(stopwords.words('english'))
df_nodups['job_title_no_stpw'] = df_nodups['job_title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df_nodups['job_title_no_stpw'] = df_nodups['job_title_no_stpw'].str.lower()
df_nodups.head(10)

,id,job_title,location,connection,fit,job_title_no_stpw
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN,2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional
1,2,Native English Teacher at English Program in Korea,Kanada,500+,NaN,native english teacher english program korea
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,aspiring human resources professional
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,people development coordinator ryan
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,advisory board member celal bayar university
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,aspiring human resources specialist
6,7,Student at Humber College and Aspiring Human Resources Generalist,Kanada,61,NaN,student humber college aspiring human resources generalist
7,8,Human Resources Senior Specialist,San Francisco Bay Area,500+,NaN,human resources senior specialist
9,10,Seeking Human Resources Human Resources Information System and Generalist Positions,Greater Philadelphia Area,500+,NaN,seeking human resources human resources information system generalist positions
10,11,Student at Chapman University,"Lake Forest, California",2,NaN,student chapman university

In [8]:
#removing digits and special characters
df_nodups['job_title_no_splc'] = df_nodups['job_title_no_stpw'].str.replace(r'[^A-Za-z0-9 ]+', '', regex=True)
df_nodups['job_title_no_splc'] = df_nodups['job_title_no_splc'].str.replace(r'\d+','') 
df_nodups.head()

,id,job_title,location,connection,fit,job_title_no_stpw,job_title_no_splc
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN,2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional,ct bauer college business graduate magna cum laude aspiring human resources professional
1,2,Native English Teacher at English Program in Korea,Kanada,500+,NaN,native english teacher english program korea,native english teacher english program korea
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,aspiring human resources professional,aspiring human resources professional
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,people development coordinator ryan,people development coordinator ryan
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,advisory board member celal bayar university,advisory board member celal bayar university

In [9]:
lemmer = nltk.stem.WordNetLemmatizer()

def lem(words):
    return " ".join([lemmer.lemmatize(word,'v') for word in words.split()])

df_nodups['job_lemmatized'] =  df_nodups.job_title_no_splc.apply(lem)

df_nodups.head()

,id,job_title,location,connection,fit,job_title_no_stpw,job_title_no_splc,job_lemmatized
0,1,2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional,"Houston, Texas",85,NaN,2019 c.t. bauer college business graduate (magna cum laude) aspiring human resources professional,ct bauer college business graduate magna cum laude aspiring human resources professional,ct bauer college business graduate magna cum laude aspire human resources professional
1,2,Native English Teacher at English Program in Korea,Kanada,500+,NaN,native english teacher english program korea,native english teacher english program korea,native english teacher english program korea
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,aspiring human resources professional,aspiring human resources professional,aspire human resources professional
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,people development coordinator ryan,people development coordinator ryan,people development coordinator ryan
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,advisory board member celal bayar university,advisory board member celal bayar university,advisory board member celal bayar university

In [10]:
# Convert job_title column into a list
job_title_list = list(df_nodups['job_lemmatized'])                    

# Vectorize job_title_list
vectors = TfidfVectorizer()                                 
matrix = vectors.fit_transform(job_title_list)
feature_names = vectors.get_feature_names()  
print("Number of unique features: ", len(feature_names))   
print(feature_names)

Number of unique features:  175
['administration', 'administrative', 'admissions', 'advisory', 'always', 'america', 'an', 'analyst', 'analytics', 'army', 'arts', 'aspire', 'assistant', 'atlanta', 'bachelor', 'bauer', 'bayar', 'beach', 'beneteau', 'biology', 'board', 'brand', 'buckhead', 'business', 'care', 'celal', 'center', 'chapman', 'college', 'communications', 'community', 'compensation', 'conflict', 'coordinator', 'create', 'csr', 'ct', 'cum', 'customer', 'data', 'delphi', 'development', 'director', 'employment', 'endemol', 'energetic', 'energy', 'engage', 'engie', 'engineer', 'english', 'entrylevel', 'environment', 'environmental', 'excellence', 'executive', 'experience', 'ey', 'generalist', 'gi', 'gp', 'graduate', 'groupe', 'guard', 'hardware', 'heil', 'help', 'houston', 'human', 'humber', 'illinois', 'inc', 'inclusive', 'indiana', 'information', 'intelligence', 'intercontinental', 'international', 'internship', 'japan', 'junior', 'kokomo', 'korea', 'lab', 'laude', 'lead', 'leader', 'liberal', 'log', 'long', 'loparex', 'louis', 'love', 'luxottica', 'magna', 'major', 'management', 'managementbenefits', 'manager', 'market', 'may', 'medical', 'member', 'mes', 'national', 'native', 'north', 'nortia', 'of', 'office', 'officer', 'official', 'open', 'opportunities', 'organization', 'paint', 'partner', 'passionate', 'patient', 'payroll', 'people', 'policies', 'portfolio', 'position', 'procedurestalent', 'professional', 'professionals', 'program', 'programmer', 'recruit', 'recruiter', 'relocation', 'representative', 'research', 'resources', 'retail', 'retire', 'rrp', 'ryan', 'schwans', 'science', 'scottmadden', 'seek', 'senior', 'service', 'set', 'shine', 'software', 'sp', 'specialist', 'st', 'staff', 'state', 'student', 'styczynski', 'success', 'svp', 'system', 'systems', 'teacher', 'teamfocused', 'the', 'tobacco', 'travel', 'travelers', 'undergraduate', 'university', 'victoria', 'wellington', 'western', 'westfield', 'within', 'woodlands', 'work', 'world']

In [11]:
vectors.vocabulary_

{'ct': 36,
 'bauer': 15,
 'college': 28,
 'business': 23,
 'graduate': 61,
 'magna': 94,
 'cum': 37,
 'laude': 84,
 'aspire': 11,
 'human': 68,
 'resources': 134,
 'professional': 125,
 'native': 105,
 'english': 50,
 'teacher': 159,
 'program': 127,
 'korea': 82,
 'people': 120,
 'development': 41,
 'coordinator': 33,
 'ryan': 138,
 'advisory': 3,
 'board': 20,
 'member': 102,
 'celal': 25,
 'bayar': 16,
 'university': 166,
 'specialist': 149,
 'student': 153,
 'humber': 69,
 'generalist': 58,
 'senior': 143,
 'seek': 142,
 'information': 74,
 'system': 157,
 'position': 123,
 'chapman': 27,
 'svp': 156,
 'market': 99,
 'communications': 29,
 'csr': 35,
 'officer': 110,
 'engie': 48,
 'houston': 67,
 'the': 161,
 'woodlands': 172,
 'energy': 46,
 'gp': 60,
 'sp': 148,
 'intercontinental': 76,
 'buckhead': 22,
 'atlanta': 13,
 'management': 96,
 'internship': 78,
 'opportunities': 113,
 'experience': 56,
 'retail': 135,
 'manager': 98,
 'staff': 151,
 'recruit': 129,
 'luxottica': 93,
 'director': 42,
 'north': 106,
 'america': 5,
 'groupe': 62,
 'beneteau': 18,
 'retire': 136,
 'army': 9,
 'national': 104,
 'guard': 63,
 'recruiter': 130,
 'office': 109,
 'scottmadden': 141,
 'inc': 71,
 'major': 95,
 'nortia': 107,
 'payroll': 119,
 'administrative': 1,
 'professionals': 126,
 'passionate': 117,
 'help': 66,
 'create': 34,
 'inclusive': 72,
 'engage': 47,
 'work': 173,
 'environment': 52,
 'conflict': 32,
 'policies': 121,
 'procedurestalent': 124,
 'managementbenefits': 97,
 'compensation': 31,
 'schwans': 139,
 'liberal': 87,
 'arts': 10,
 'analyst': 7,
 'junior': 80,
 'mes': 103,
 'engineer': 49,
 'systems': 158,
 'partner': 116,
 'heil': 65,
 'environmental': 53,
 'an': 6,
 'energetic': 45,
 'teamfocused': 160,
 'leader': 86,
 'endemol': 44,
 'shine': 146,
 'world': 174,
 'gi': 59,
 'software': 147,
 'rrp': 137,
 'brand': 21,
 'portfolio': 122,
 'executive': 55,
 'japan': 79,
 'tobacco': 162,
 'international': 77,
 'programmer': 128,
 'love': 92,
 'data': 39,
 'organization': 114,
 'bachelor': 14,
 'science': 140,
 'biology': 19,
 'victoria': 167,
 'wellington': 168,
 'ey': 57,
 'undergraduate': 165,
 'research': 133,
 'assistant': 12,
 'styczynski': 154,
 'lab': 83,
 'lead': 85,
 'official': 111,
 'western': 169,
 'illinois': 70,
 'employment': 43,
 'within': 171,
 'customer': 38,
 'service': 144,
 'patient': 118,
 'care': 24,
 'admissions': 2,
 'representative': 132,
 'community': 30,
 'medical': 101,
 'center': 26,
 'long': 89,
 'beach': 17,
 'open': 112,
 'travel': 163,
 'relocation': 131,
 'westfield': 170,
 'state': 152,
 'indiana': 73,
 'kokomo': 81,
 'delphi': 40,
 'hardware': 64,
 'paint': 115,
 'may': 100,
 'entrylevel': 51,
 'st': 150,
 'louis': 91,
 'loparex': 90,
 'intelligence': 75,
 'analytics': 8,
 'travelers': 164,
 'always': 4,
 'set': 145,
 'success': 155,
 'of': 108,
 'administration': 0,
 'excellence': 54,
 'log': 88}

In [12]:
# Convert job titles into arrays
tfidf_vector = matrix.toarray()                                  
print("Shape of Tfidf vector: ", tfidf_vector.shape) 
print(tfidf_vector)

Shape of Tfidf vector:  (54, 175)
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.46104593 0.         0.         ... 0.         0.         0.        ]]

In [13]:
print(tfidf_vector[0])

[0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.19276841
 0.         0.         0.         0.3511579  0.         0.
 0.         0.         0.         0.         0.         0.26173515
 0.         0.         0.         0.         0.31815462 0.
 0.         0.         0.         0.         0.         0.
 0.3511579  0.3511579  0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.31815462 0.         0.         0.         0.
 0.         0.         0.11589292 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.3511579  0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.3511579  0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.22015594
 0.         0.         0.         0.         0.         0.
 0.         0.         0.11589292 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.        ]

In [14]:
# search query
search = "seeking human resources"

In [15]:
lemmer = nltk.stem.WordNetLemmatizer()
lem_search = " ".join([lemmer.lemmatize(word,'v') for word in search.split()])
print(lem_search)

seek human resources

In [16]:
# Convert search phrase into a vector
sv = vectors.transform([lem_search])                    
search_vector = sv.toarray()
print("Shape of search phrase vector:", search_vector.shape)
print(search_vector)

Shape of search phrase vector: (1, 175)
[[0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.4319816  0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.4319816  0.         0.         0.
  0.         0.         0.         0.         0.79169678 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.        ]]

In [17]:
cosine_sim = cosine_similarity(tfidf_vector, search_vector)

df_nodups['tfidf_sim_score'] = cosine_sim
df_nodups.sort_values(by ='tfidf_sim_score', ascending = False).head()

,id,job_title,location,connection,fit,job_title_no_stpw,job_title_no_splc,job_lemmatized,tfidf_sim_score
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN,seeking human resources position,seeking human resources position,seek human resources position,0.696263
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,seeking human resources opportunities,seeking human resources opportunities,seek human resources opportunities,0.673137
72,73,"Aspiring Human Resources Manager, seeking internship in Human Resources.","Houston, Texas Area",7,NaN,"aspiring human resources manager, seeking internship human resources.",aspiring human resources manager seeking internship human resources,aspire human resources manager seek internship human resources,0.624745
9,10,Seeking Human Resources Human Resources Information System and Generalist Positions,Greater Philadelphia Area,500+,NaN,seeking human resources human resources information system generalist positions,seeking human resources human resources information system generalist positions,seek human resources human resources information system generalist position,0.517021
26,27,Aspiring Human Resources Management student seeking an internship,"Houston, Texas Area",500+,NaN,aspiring human resources management student seeking internship,aspiring human resources management student seeking internship,aspire human resources management student seek internship,0.459454

In [18]:
#word2vec

In [22]:
# Using a pre-trained word2vec model
EMBEDDING_FILE = '/Users/vidyakumar/GoogleNews-vectors-negative300.bin'
word_vectors = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

In [ ]:
# Access vectors for specific words with a keyed lookup:
vectort = word_vectors['easy']
# see the shape of the vector (300,)
vectort.shape

In [23]:
# Tokenization of each document
tokenized_sent = []
for s in df_nodups['job_lemmatized']:
    tokenized_sent.append(word_tokenize(s.lower()))
tokenized_sent

[['ct',
  'bauer',
  'college',
  'business',
  'graduate',
  'magna',
  'cum',
  'laude',
  'aspire',
  'human',
  'resources',
  'professional'],
 ['native', 'english', 'teacher', 'english', 'program', 'korea'],
 ['aspire', 'human', 'resources', 'professional'],
 ['people', 'development', 'coordinator', 'ryan'],
 ['advisory', 'board', 'member', 'celal', 'bayar', 'university'],
 ['aspire', 'human', 'resources', 'specialist'],
 ['student',
  'humber',
  'college',
  'aspire',
  'human',
  'resources',
  'generalist'],
 ['human', 'resources', 'senior', 'specialist'],
 ['seek',
  'human',
  'resources',
  'human',
  'resources',
  'information',
  'system',
  'generalist',
  'position'],
 ['student', 'chapman', 'university'],
 ['svp',
  'c',
  'human',
  'resources',
  'o',
  'market',
  'communications',
  'csr',
  'officer',
  'engie',
  'houston',
  'the',
  'woodlands',
  'energy',
  'gp',
  'human',
  'resources',
  'sp',
  'human',
  'resources'],
 ['human',
  'resources',
  'coordinator',
  'intercontinental',
  'buckhead',
  'atlanta'],
 ['native', 'english', 'teacher', 'english', 'program', 'korea'],
 ['aspire',
  'human',
  'resources',
  'management',
  'student',
  'seek',
  'internship'],
 ['seek', 'human', 'resources', 'opportunities'],
 ['experience',
  'retail',
  'manager',
  'aspire',
  'human',
  'resources',
  'professional'],
 ['human', 'resources', 'staff', 'recruit', 'professional'],
 ['human', 'resources', 'specialist', 'luxottica'],
 ['director', 'human', 'resources', 'north', 'america', 'groupe', 'beneteau'],
 ['retire',
  'army',
  'national',
  'guard',
  'recruiter',
  'office',
  'manager',
  'seek',
  'position',
  'human',
  'resources'],
 ['human', 'resources', 'generalist', 'scottmadden', 'inc'],
 ['business',
  'management',
  'major',
  'aspire',
  'human',
  'resources',
  'manager'],
 ['aspire',
  'human',
  'resources',
  'manager',
  'seek',
  'internship',
  'human',
  'resources'],
 ['human', 'resources', 'professional'],
 ['nortia',
  'staff',
  'seek',
  'human',
  'resources',
  'payroll',
  'administrative',
  'professionals'],
 ['aspire',
  'human',
  'resources',
  'professional',
  'passionate',
  'help',
  'create',
  'inclusive',
  'engage',
  'work',
  'environment'],
 ['human',
  'resources',
  'conflict',
  'management',
  'policies',
  'procedurestalent',
  'managementbenefits',
  'compensation'],
 ['human', 'resources', 'generalist', 'schwans'],
 ['liberal', 'arts', 'major', 'aspire', 'human', 'resources', 'analyst'],
 ['junior', 'mes', 'engineer', 'information', 'systems'],
 ['senior',
  'human',
  'resources',
  'business',
  'partner',
  'heil',
  'environmental'],
 ['aspire',
  'human',
  'resources',
  'professional',
  'an',
  'energetic',
  'teamfocused',
  'leader'],
 ['human', 'resources', 'manager', 'endemol', 'shine', 'north', 'america'],
 ['human', 'resources', 'professional', 'world', 'leader', 'gi', 'software'],
 ['rrp',
  'brand',
  'portfolio',
  'executive',
  'japan',
  'tobacco',
  'international'],
 ['information',
  'systems',
  'specialist',
  'programmer',
  'love',
  'data',
  'organization'],
 ['bachelor', 'science', 'biology', 'victoria', 'university', 'wellington'],
 ['human', 'resources', 'management', 'major'],
 ['director', 'human', 'resources', 'ey'],
 ['undergraduate', 'research', 'assistant', 'styczynski', 'lab'],
 ['lead', 'official', 'western', 'illinois', 'university'],
 ['seek',
  'employment',
  'opportunities',
  'within',
  'customer',
  'service',
  'patient',
  'care'],
 ['admissions',
  'representative',
  'community',
  'medical',
  'center',
  'long',
  'beach'],
 ['seek',
  'human',
  'resources',
  'opportunities',
  'open',
  'travel',
  'relocation'],
 ['student', 'westfield', 'state', 'university'],
 ['student',
  'indiana',
  'university',
  'kokomo',
  'business',
  'management',
  'retail',
  'manager',
  'delphi',
  'hardware',
  'paint'],
 ['aspire', 'human', 'resources', 'professional'],
 ['student'],
 ['seek', 'human', 'resources', 'position'],
 ['aspire',
  'human',
  'resources',
  'manager',
  'graduate',
  'may',
  'seek',
  'entrylevel',
  'human',
  'resources',
  'position',
  'st',
  'louis'],
 ['human', 'resources', 'generalist', 'loparex'],
 ['business', 'intelligence', 'analytics', 'travelers'],
 ['always', 'set', 'success'],
 ['director', 'of', 'administration', 'excellence', 'log']]

In [27]:
# train word2vec model
w2vec = Word2Vec(tokenized_sent, min_count=1, size=5)

print(w2vec)
#word2vec(vocab=19, size=5, alpha=0.025)

Word2Vec(vocab=177, size=5, alpha=0.025)

In [28]:
print(w2vec['humber'])

[ 0.04479725 -0.05589376  0.05632111  0.00475959  0.08110686]

In [29]:
w2vec.wv.vocab

{'ct': <gensim.models.keyedvectors.Vocab at 0x1049d47f0>,
 'bauer': <gensim.models.keyedvectors.Vocab at 0x1049d43d0>,
 'college': <gensim.models.keyedvectors.Vocab at 0x1049d4820>,
 'business': <gensim.models.keyedvectors.Vocab at 0x1049d41f0>,
 'graduate': <gensim.models.keyedvectors.Vocab at 0x1049d4340>,
 'magna': <gensim.models.keyedvectors.Vocab at 0x1049d4070>,
 'cum': <gensim.models.keyedvectors.Vocab at 0x1049d43a0>,
 'laude': <gensim.models.keyedvectors.Vocab at 0x1049d40d0>,
 'aspire': <gensim.models.keyedvectors.Vocab at 0x1049d4310>,
 'human': <gensim.models.keyedvectors.Vocab at 0x1049d4580>,
 'resources': <gensim.models.keyedvectors.Vocab at 0x1049d4160>,
 'professional': <gensim.models.keyedvectors.Vocab at 0x1049d4790>,
 'native': <gensim.models.keyedvectors.Vocab at 0x1049d49a0>,
 'english': <gensim.models.keyedvectors.Vocab at 0x1049d4a30>,
 'teacher': <gensim.models.keyedvectors.Vocab at 0x1049d4a60>,
 'program': <gensim.models.keyedvectors.Vocab at 0x1049d4ac0>,
 'korea': <gensim.models.keyedvectors.Vocab at 0x1049d4b50>,
 'people': <gensim.models.keyedvectors.Vocab at 0x1049d48b0>,
 'development': <gensim.models.keyedvectors.Vocab at 0x1049d4bb0>,
 'coordinator': <gensim.models.keyedvectors.Vocab at 0x1049d4c10>,
 'ryan': <gensim.models.keyedvectors.Vocab at 0x1049d4040>,
 'advisory': <gensim.models.keyedvectors.Vocab at 0x1049d4ca0>,
 'board': <gensim.models.keyedvectors.Vocab at 0x1049d4cd0>,
 'member': <gensim.models.keyedvectors.Vocab at 0x1049d4d30>,
 'celal': <gensim.models.keyedvectors.Vocab at 0x1049d4af0>,
 'bayar': <gensim.models.keyedvectors.Vocab at 0x1049d44c0>,
 'university': <gensim.models.keyedvectors.Vocab at 0x1049d4be0>,
 'specialist': <gensim.models.keyedvectors.Vocab at 0x1049d4e20>,
 'student': <gensim.models.keyedvectors.Vocab at 0x1049d4940>,
 'humber': <gensim.models.keyedvectors.Vocab at 0x1049d4eb0>,
 'generalist': <gensim.models.keyedvectors.Vocab at 0x1049d4f70>,
 'senior': <gensim.models.keyedvectors.Vocab at 0x1049d4fd0>,
 'seek': <gensim.models.keyedvectors.Vocab at 0x1049d4130>,
 'information': <gensim.models.keyedvectors.Vocab at 0x1049d42e0>,
 'system': <gensim.models.keyedvectors.Vocab at 0x1049e4070>,
 'position': <gensim.models.keyedvectors.Vocab at 0x1049e40d0>,
 'chapman': <gensim.models.keyedvectors.Vocab at 0x1049e4130>,
 'svp': <gensim.models.keyedvectors.Vocab at 0x1049e4190>,
 'c': <gensim.models.keyedvectors.Vocab at 0x1049e41f0>,
 'o': <gensim.models.keyedvectors.Vocab at 0x1049e4250>,
 'market': <gensim.models.keyedvectors.Vocab at 0x1049e42b0>,
 'communications': <gensim.models.keyedvectors.Vocab at 0x1049e4310>,
 'csr': <gensim.models.keyedvectors.Vocab at 0x1049e4370>,
 'officer': <gensim.models.keyedvectors.Vocab at 0x1049e43d0>,
 'engie': <gensim.models.keyedvectors.Vocab at 0x1049e4430>,
 'houston': <gensim.models.keyedvectors.Vocab at 0x1049e4490>,
 'the': <gensim.models.keyedvectors.Vocab at 0x1049e44f0>,
 'woodlands': <gensim.models.keyedvectors.Vocab at 0x1049e4550>,
 'energy': <gensim.models.keyedvectors.Vocab at 0x1049e45b0>,
 'gp': <gensim.models.keyedvectors.Vocab at 0x1049e4610>,
 'sp': <gensim.models.keyedvectors.Vocab at 0x1049e4670>,
 'intercontinental': <gensim.models.keyedvectors.Vocab at 0x1049e46d0>,
 'buckhead': <gensim.models.keyedvectors.Vocab at 0x1049e4730>,
 'atlanta': <gensim.models.keyedvectors.Vocab at 0x1049e4790>,
 'management': <gensim.models.keyedvectors.Vocab at 0x1049e47f0>,
 'internship': <gensim.models.keyedvectors.Vocab at 0x1049e4850>,
 'opportunities': <gensim.models.keyedvectors.Vocab at 0x1049e48b0>,
 'experience': <gensim.models.keyedvectors.Vocab at 0x1049e4910>,
 'retail': <gensim.models.keyedvectors.Vocab at 0x1049e4970>,
 'manager': <gensim.models.keyedvectors.Vocab at 0x1049e49d0>,
 'staff': <gensim.models.keyedvectors.Vocab at 0x1049e4a30>,
 'recruit': <gensim.models.keyedvectors.Vocab at 0x1049e4a90>,
 'luxottica': <gensim.models.keyedvectors.Vocab at 0x1049e4af0>,
 'director': <gensim.models.keyedvectors.Vocab at 0x1049e4b50>,
 'north': <gensim.models.keyedvectors.Vocab at 0x1049e4bb0>,
 'america': <gensim.models.keyedvectors.Vocab at 0x1049e4c10>,
 'groupe': <gensim.models.keyedvectors.Vocab at 0x1049e4c70>,
 'beneteau': <gensim.models.keyedvectors.Vocab at 0x1049e4cd0>,
 'retire': <gensim.models.keyedvectors.Vocab at 0x1049e4d30>,
 'army': <gensim.models.keyedvectors.Vocab at 0x1049e4d90>,
 'national': <gensim.models.keyedvectors.Vocab at 0x1049e4df0>,
 'guard': <gensim.models.keyedvectors.Vocab at 0x1049e4e50>,
 'recruiter': <gensim.models.keyedvectors.Vocab at 0x1049e4eb0>,
 'office': <gensim.models.keyedvectors.Vocab at 0x1049e4f10>,
 'scottmadden': <gensim.models.keyedvectors.Vocab at 0x1049e4f70>,
 'inc': <gensim.models.keyedvectors.Vocab at 0x1049e4fd0>,
 'major': <gensim.models.keyedvectors.Vocab at 0x1049e5070>,
 'nortia': <gensim.models.keyedvectors.Vocab at 0x1049e50d0>,
 'payroll': <gensim.models.keyedvectors.Vocab at 0x1049e5130>,
 'administrative': <gensim.models.keyedvectors.Vocab at 0x1049e5190>,
 'professionals': <gensim.models.keyedvectors.Vocab at 0x1049e51f0>,
 'passionate': <gensim.models.keyedvectors.Vocab at 0x1049e5250>,
 'help': <gensim.models.keyedvectors.Vocab at 0x1049e52b0>,
 'create': <gensim.models.keyedvectors.Vocab at 0x1049e5310>,
 'inclusive': <gensim.models.keyedvectors.Vocab at 0x1049e5370>,
 'engage': <gensim.models.keyedvectors.Vocab at 0x1049e53d0>,
 'work': <gensim.models.keyedvectors.Vocab at 0x1049e5430>,
 'environment': <gensim.models.keyedvectors.Vocab at 0x1049e5490>,
 'conflict': <gensim.models.keyedvectors.Vocab at 0x1049e54f0>,
 'policies': <gensim.models.keyedvectors.Vocab at 0x1049e5550>,
 'procedurestalent': <gensim.models.keyedvectors.Vocab at 0x1049e55b0>,
 'managementbenefits': <gensim.models.keyedvectors.Vocab at 0x1049e5610>,
 'compensation': <gensim.models.keyedvectors.Vocab at 0x1049e5670>,
 'schwans': <gensim.models.keyedvectors.Vocab at 0x1049e56d0>,
 'liberal': <gensim.models.keyedvectors.Vocab at 0x1049e5730>,
 'arts': <gensim.models.keyedvectors.Vocab at 0x1049e5790>,
 'analyst': <gensim.models.keyedvectors.Vocab at 0x1049e57f0>,
 'junior': <gensim.models.keyedvectors.Vocab at 0x1049e5850>,
 'mes': <gensim.models.keyedvectors.Vocab at 0x1049e58b0>,
 'engineer': <gensim.models.keyedvectors.Vocab at 0x1049e5910>,
 'systems': <gensim.models.keyedvectors.Vocab at 0x1049e5970>,
 'partner': <gensim.models.keyedvectors.Vocab at 0x1049e59d0>,
 'heil': <gensim.models.keyedvectors.Vocab at 0x1049e5a30>,
 'environmental': <gensim.models.keyedvectors.Vocab at 0x1049e5a90>,
 'an': <gensim.models.keyedvectors.Vocab at 0x1049e5af0>,
 'energetic': <gensim.models.keyedvectors.Vocab at 0x1049e5b50>,
 'teamfocused': <gensim.models.keyedvectors.Vocab at 0x1049e5bb0>,
 'leader': <gensim.models.keyedvectors.Vocab at 0x1049e5c10>,
 'endemol': <gensim.models.keyedvectors.Vocab at 0x1049e5c70>,
 'shine': <gensim.models.keyedvectors.Vocab at 0x1049e5cd0>,
 'world': <gensim.models.keyedvectors.Vocab at 0x1049e5d30>,
 'gi': <gensim.models.keyedvectors.Vocab at 0x1049e5d90>,
 'software': <gensim.models.keyedvectors.Vocab at 0x1049e5df0>,
 'rrp': <gensim.models.keyedvectors.Vocab at 0x1049e5e50>,
 'brand': <gensim.models.keyedvectors.Vocab at 0x1049e5eb0>,
 'portfolio': <gensim.models.keyedvectors.Vocab at 0x1049e5f10>,
 'executive': <gensim.models.keyedvectors.Vocab at 0x1049e5f70>,
 'japan': <gensim.models.keyedvectors.Vocab at 0x1049e5fd0>,
 'tobacco': <gensim.models.keyedvectors.Vocab at 0x1049e7070>,
 'international': <gensim.models.keyedvectors.Vocab at 0x1049e70d0>,
 'programmer': <gensim.models.keyedvectors.Vocab at 0x1049e7130>,
 'love': <gensim.models.keyedvectors.Vocab at 0x1049e7190>,
 'data': <gensim.models.keyedvectors.Vocab at 0x1049e71f0>,
 'organization': <gensim.models.keyedvectors.Vocab at 0x1049e7250>,
 'bachelor': <gensim.models.keyedvectors.Vocab at 0x1049e72b0>,
 'science': <gensim.models.keyedvectors.Vocab at 0x1049e7310>,
 'biology': <gensim.models.keyedvectors.Vocab at 0x1049e7370>,
 'victoria': <gensim.models.keyedvectors.Vocab at 0x1049e73d0>,
 'wellington': <gensim.models.keyedvectors.Vocab at 0x1049e7430>,
 'ey': <gensim.models.keyedvectors.Vocab at 0x1049e7490>,
 'undergraduate': <gensim.models.keyedvectors.Vocab at 0x1049e74f0>,
 'research': <gensim.models.keyedvectors.Vocab at 0x1049e7550>,
 'assistant': <gensim.models.keyedvectors.Vocab at 0x1049e75b0>,
 'styczynski': <gensim.models.keyedvectors.Vocab at 0x1049e7610>,
 'lab': <gensim.models.keyedvectors.Vocab at 0x1049e7670>,
 'lead': <gensim.models.keyedvectors.Vocab at 0x1049e76d0>,
 'official': <gensim.models.keyedvectors.Vocab at 0x1049e7730>,
 'western': <gensim.models.keyedvectors.Vocab at 0x1049e7790>,
 'illinois': <gensim.models.keyedvectors.Vocab at 0x1049e77f0>,
 'employment': <gensim.models.keyedvectors.Vocab at 0x1049e7850>,
 'within': <gensim.models.keyedvectors.Vocab at 0x1049e78b0>,
 'customer': <gensim.models.keyedvectors.Vocab at 0x1049e7910>,
 'service': <gensim.models.keyedvectors.Vocab at 0x1049e7970>,
 'patient': <gensim.models.keyedvectors.Vocab at 0x1049e79d0>,
 'care': <gensim.models.keyedvectors.Vocab at 0x1049e7a30>,
 'admissions': <gensim.models.keyedvectors.Vocab at 0x1049e7a90>,
 'representative': <gensim.models.keyedvectors.Vocab at 0x1049e7af0>,
 'community': <gensim.models.keyedvectors.Vocab at 0x1049e7b50>,
 'medical': <gensim.models.keyedvectors.Vocab at 0x1049e7bb0>,
 'center': <gensim.models.keyedvectors.Vocab at 0x1049e7c10>,
 'long': <gensim.models.keyedvectors.Vocab at 0x1049e7c70>,
 'beach': <gensim.models.keyedvectors.Vocab at 0x1049e7cd0>,
 'open': <gensim.models.keyedvectors.Vocab at 0x1049e7d30>,
 'travel': <gensim.models.keyedvectors.Vocab at 0x1049e7d90>,
 'relocation': <gensim.models.keyedvectors.Vocab at 0x1049e7df0>,
 'westfield': <gensim.models.keyedvectors.Vocab at 0x1049e7e50>,
 'state': <gensim.models.keyedvectors.Vocab at 0x1049e7eb0>,
 'indiana': <gensim.models.keyedvectors.Vocab at 0x1049e7f10>,
 'kokomo': <gensim.models.keyedvectors.Vocab at 0x1049e7f70>,
 'delphi': <gensim.models.keyedvectors.Vocab at 0x1049e7fd0>,
 'hardware': <gensim.models.keyedvectors.Vocab at 0x1049e9070>,
 'paint': <gensim.models.keyedvectors.Vocab at 0x1049e90d0>,
 'may': <gensim.models.keyedvectors.Vocab at 0x1049e9130>,
 'entrylevel': <gensim.models.keyedvectors.Vocab at 0x1049e9190>,
 'st': <gensim.models.keyedvectors.Vocab at 0x1049e91f0>,
 'louis': <gensim.models.keyedvectors.Vocab at 0x1049e9250>,
 'loparex': <gensim.models.keyedvectors.Vocab at 0x1049e92b0>,
 'intelligence': <gensim.models.keyedvectors.Vocab at 0x1049e9310>,
 'analytics': <gensim.models.keyedvectors.Vocab at 0x1049e9370>,
 'travelers': <gensim.models.keyedvectors.Vocab at 0x1049e93d0>,
 'always': <gensim.models.keyedvectors.Vocab at 0x1049e9430>,
 'set': <gensim.models.keyedvectors.Vocab at 0x1049e9490>,
 'success': <gensim.models.keyedvectors.Vocab at 0x1049e94f0>,
 'of': <gensim.models.keyedvectors.Vocab at 0x1049e9550>,
 'administration': <gensim.models.keyedvectors.Vocab at 0x1049e95b0>,
 'excellence': <gensim.models.keyedvectors.Vocab at 0x1049e9610>,
 'log': <gensim.models.keyedvectors.Vocab at 0x1049e9670>}